body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  margin: 1em
}

.title-text {
  margin-bottom: 1em;
}

.title-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome-text {
  font-weight: 400;
}

.map-chart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30em;
}

.map-container {
  height: 30em;
  width: 30em;
}

.date-select {
  height: 10;
  padding-bottom: 2em;
}

.summary-text {
  font-weight: 400;
}

.chart-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-card {
  display: flex;
  flex-direction: column;
}
